.btn {
  display: inline-block;
  border-radius: 3px;
  padding: 5px 15px;
  border: 1px solid gray;
  color: gray;
}

.success {
  background-color: green;
  color: white;
  border-color: green;
}
.danger {
  background-color: red;
  color: white;
  border-color: red;
}
